<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a mercadoliebre</title>
</head>
<body>
    <head>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo de mercadoliebre">
        <p>Lugar para poner la barra de busqueda.</p>
        <p><!--icono--> Compra en cuotas y sin tarjeta de credito</p>
        <nav>
           <ul>
               <li><a href="#">Ofertas</a></li>
               <li><a href="#">Tiendas Oficiales</a></li>
               <li><a href="#">Vender</a></li>
               <li><a href="#">Ayuda</a></li>
           </ul>
           <ul>
               <li><a href="#"></a>Crea tu cuenta</li>
               <li><a href="#"></a>Ingresar</li>
               <li><a href="#"></a>Mis compras</li>
           </ul>
        </nav>
    </head>
    <section>
        <img src="/img/home-banner.js" alt="Banner del sitio">
    </section>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            <p>$ 6.770</p>
            <p>40% OFF</p>
            <h3></h3>
            <!--iconito del camion-->
            <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
            <p>$ 230.000</p>
            <p>20% OFF</p>
            <h3>MacBook Pro 2019</h3>
            <!--iconito del camion-->
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
            <p>$ 70.500</p>
            <p>10% OFF</p>
            <h3>Samsung Galaxy S10</h3>
            <!--iconito del camion-->
            <img src="" alt="">
            <p>$ 23.200</p>
            <p>5% OFF</p>
            <h3>SmartTv Samsung 43"</h3>
            <!--iconito del camion-->
        </section>
        <section>
            <h2>Ofertas</h2>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            <p>$ 6.770</p>
            <p>40% OFF</p>
            <h3></h3>
            <!--iconito del camion-->
            <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
            <p>$ 230.000</p>
            <p>20% OFF</p>
            <h3>MacBook Pro 2019</h3>
            <!--iconito del camion-->
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
            <p>$ 70.500</p>
            <p>10% OFF</p>
            <h3>Samsung Galaxy S10</h3>
            <!--iconito del camion-->
            <img src="" alt="">
            <p>$ 23.200</p>
            <p>5% OFF</p>
            <h3>SmartTv Samsung 43"</h3>
            <!--iconito del camion-->
        </section>
    </main>
    <footer></footer>
</body>
</html>