<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css "
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/favicon.png" />
    <title>Bienvenido a mercadoliebre</title>
  </head>

  <body>
    <!--HEADER START-->
    <header>
      <!--Top Header Start-->
      <div class="top-head">
        <picture>
          <a href="/">
            <img
              src="/img/logo-mercado-liebre.svg"
              alt="Logo de mercadoliebre"
            />
          </a>
        </picture>

        <form class="form-search" action="/" method="GET">
          <input
            class="input-search"
            type="search"
            placeholder="Buscar productos, marcas y más..."
          />
          <button class="button-search" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <p class="inline-block">
          <i class="fas fa-hand-holding-usd"></i>
          Compra en cuotas y sin tarjeta de credito
        </p>
      </div>
      <!--Top Header Ends-->

      <!--Top Header Nav Start-->
      <nav>
        <ul class="flex-align-start">
          <li><a href="/offers">Ofertas</a></li>
          <li><a href="/officialstores">Tiendas Oficiales</a></li>
          <li><a href="/sell">Vender</a></li>
          <li><a href="/help">Ayuda</a></li>
        </ul>
        <ul class="flex-align-end">
          <li>
            <a href="/register"
              >Crea tu cuenta
              <i class="far fa-id-card"></i>
            </a>
          </li>
          <li>
            <a href="/login"
              >Ingresar
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <li>
            <a href="/cart"
              >Mis compras
              <i class="fas fa-shopping-basket"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!--Top Header Nav Ends-->

      <!--Top Header Hamburger Menu Start-->
      <div class="menu-hamburger">
        <i class="fas fa-bars"></i>
      </div>
      <!--Top Header Hamburger Menu Ends-->
    </header>
    <!--HEADER END-->

    <main>
      <div class="container-center">
        <h3>Ingresar</h3>
        <form action="" class="user-register">
          <input
            type="text"
            name="user-id"
            id="user-id"
            placeholder="Nombre de usuari@"
            required
            minlength="10"
            maxlength="20"
          />
          <input
            type="password"
            name="user-password"
            id="user-password"
            placeholder="Contraseña"
          />
          <div class="flex-buttons">
            <button type="submit" class="login">Enviar</button>
          </div>
        </form>
      </div>
    </main>

    <footer>
      <div class="footer-container">
        <section>
          <i class="far fa-credit-card tarjeta-credito"></i>
          <h2>Pagá con tarjeta o en efectivo</h2>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <i class="fas fa-gift"></i>
          <h2>Envío gratis desde $ 2.500</h2>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section>
          <i class="fas fa-user-shield"></i>
          <h2>Seguridad, de principio a fin</h2>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <section class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
